
@{
    ViewBag.Title = "nextPage";
}

<h2>New page to do dum shit on <</h2>
<p>Name of person : @ViewBag.personName </p>
<p>Age of the person : @ViewBag.personAge</p>
<p>Gender of person : @ViewBag.personGender</p>