@model WebApplication2.Models.Class1

@using (Html.BeginForm("Index", "main", FormMethod.Post))
{
    <p> Enter Number 1 : @Html.EditorFor(x => x.number1)</p>
    <p > Enter Number 2 : @Html.EditorFor(x => x.number2) </p >
    <p > Enter Number 3 : @Html.EditorFor(x => x.number3) </p >
    <p>  Answer : @Html.DisplayFor(x => x.answer)</p>

    <input type="submit" value="Calculate" />
}



